.footer__link {
  text-decoration: none;
  color: #fff;
  font-size: 16px;
  line-height: 1.1;
  font-weight: normal;
  margin: 0;
  cursor: url(../../../images/Pointer.svg), auto;
  margin-right: 20px;
  transition: opacity 0.3s;
}

.footer__link:hover {
  opacity: 0.8;
}

@media screen and (max-width: 1024px) {
  .footer__link {
    margin-right: 18px;
  }
}

@media screen and (max-width: 620px) {
  .footer__link {
    font-size: 24px;
    line-height: 1;
    margin-bottom: 32px;
  }

  .footer__link:last-of-type {
     margin-bottom: 48px;
  }

}
