.place__link {
  font-size: 18px;
  line-height: 1.2;
  font-weight: normal;
  color: #FFF;
  margin: 0;
  cursor: url(../../../images/Pointer.svg), auto;
  transition: opacity 0.3s;
}

.place__link:hover {
  opacity: 0.8;
}
