.place {
  display: grid;
  grid-template-columns: 47% 1fr;
  grid-template-rows: auto 460px;
  gap: 48px 40px;
  grid-template-areas:
  "title website"
  "image paragraphs";
  margin-bottom: 80px;
  width: 100%;
}

.place:last-of-type {
  margin-bottom: 92px;
}

@media screen and (max-width: 1024px) {
  .place {
    gap: 48px 32px;
  }
}

@media screen and (max-width: 768px) {
  .place {
    gap: 48px 28px;
    grid-template-rows: 92px 460px;
    margin-bottom: 73px;
  }
}







@media screen and (max-width: 320px) {
  .place {
    display: flex;
    flex-direction: column;
  }
}

