.footer {
  width: 93%;
  margin: 89px auto 24px auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media screen and (max-width: 1024px) {
  .footer {
    margin-top: 95px;
    width: 90%;
  }
}

@media screen and (max-width: 768px) {
  .footer {
    margin-top: 88px;
    width: 94%;
  }
}

@media screen and (max-width: 690px) {
  .footer {
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    margin-top: 64px;
    margin-bottom: 24px;
    margin-left: 16px;
    width: 186px;
  }
}
